<form >
    <div class="form-group row">
        <label class="col-md-3 padding-label">
            Convenio requiere canal Call Center:
        </label>
        <div class="col-md-2" style="padding-top: 5px;">
            <label class="radio-inline">
                <input type="radio" ng-model="chCallCenter.required" ng-value=true disabled>
                Si
            </label>
            <label class="radio-inline">
                <input type="radio" ng-model="chCallCenter.required" ng-value=false disabled>
                No
            </label>
        </div>
    </div>
</form>
