<form>
    <div class="form-group row" >
        <div class="panel panel-default col-xs-offset-1 col-xs-10" style="padding: 0px;" ng-repeat="data in confDispersionAccounts.dispersionAccounts">
            <div class="panel-heading">Cuenta de Dispersi&oacute;n {{$index + 1}}</div>
            <div class="panel-body">
                <div class="form-group row">
                    <label class="col-md-2 padding-label">Tipo de Recaudo</label>
                    <div class="col-md-2">
                        <input type="text" class="form-control" readonly ng-model="data.collectType">
                    </div>
                    <label class="col-md-2 padding-label">Clase</label>
                    <div class="col-md-2">
                        <select class="form-control" ng-model="data.taxClass"  >
                            <option value="002" ng-if="data.taxClass == '002'">Departamentales</option>
                            <option value="003" ng-if="data.taxClass == '003'">Municipales</option>
                        </select>
                    </div>
                    <label class="col-md-2 padding-label">Tipo</label>
                    <div class="col-md-2">
                        <select class="form-control" ng-model="data.taxType"  >
                            <option value="D" ng-if="data.taxType == 'D'">Departamento</option>
                            <option value="M" ng-if="data.taxType == 'M'">Municipio</option>
                            <option value="C" ng-if="data.taxType == 'C'">Convenio Asociado</option>
                            <option value="R" ng-if="data.taxType == 'R'">Devoluci&oacute;n Dispersi&oacute;n</option>
                        </select>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-md-3 padding-label">N&uacute;mero de Identificaci&oacute;n</label>
                    <div class="col-md-3">
                        <input type="text" class="form-control" maxlength="15" readonly ng-model="data.numId">
                    </div>
                    <label class="col-md-offset-1 col-md-3 padding-label">Tipo de Identificaci&oacute;n</label>
                    <div class="col-md-2">
                        <select class="form-control" ng-model="data.idType" >
                            <option value="3" ng-if="data.idType == '3'">NIT</option>
                            <option value="1" ng-if="data.idType == '1'">C&eacute;dula</option>
                        </select>
                    </div>
                </div>

                <div class="form-group row">

                    <label class="col-md-2 padding-label">C&oacute;digo Banco</label>
                    <div class="col-md-3">
                        <input type="text" class="form-control" readonly ng-model="data.bankCode">
                    </div>
                    <label class="col-md-offset-1 col-md-2 padding-label">Cuenta</label>
                    <div class="col-md-4">
                        <input type="text" class="form-control" readonly ng-model="data.account">
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-md-2 padding-label">Tipo de Cuenta</label>
                    <div class="col-md-2">
                        <select class="form-control" ng-model="data.accountType" required >
                            <option value="01" ng-if="data.accountType == '01'">Corriente</option>
                            <option value="02" ng-if="data.accountType == '02'">Ahorros</option>
                        </select>
                    </div>
                    <label class="col-md-2 padding-label">Nombre del Contacto</label>
                    <div class="col-md-2">
                        <input type="text" class="form-control" readonly ng-model="data.contactName">
                    </div>
                    <label class="col-md-2 padding-label">Tel&eacute;fono del contacto</label>
                    <div class="col-md-2">
                        <input type="text" class="form-control" readonly ng-model="data.contactTelephone">
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-md-2 padding-label">Devoluci&oacute;n de la Dispersi&oacute;n</label>
                    <div class="col-md-2">
                        <input type="text" class="form-control" readonly ng-model="data.dispersionDevolution">
                    </div>
                </div>

            </div>
        </div>
    </div>

</form>
