<form ng-submit="saveColManyAccounts(colManyAccounts)" ng-controller="RequestAgreementCtrl">
    <div class="form-group row" >
        <div class="panel panel-default col-xs-offset-1 col-xs-10" style="padding: 0px;" ng-repeat="data in colManyAccounts.collectAccounts">
            <div class="panel-heading">Cuenta de Recaudo {{$index + 1}}</div>
            <div class="panel-body">
                <div class="form-group row">
                    <label class="col-md-2 padding-label">Tipo de Cuenta</label>
                    <div class="col-md-3">
                        <select class="form-control" ng-model="data.type" required >
                            <option value=""></option>
                            <option value="CC">Cuenta Corriente</option>
                            <option value="AH" >Cuenta de Ahorros</option>
                            <option value="CL" ng-if="type == 'R'">Cr&eacute;dito L&iacute;quido</option>
                        </select>
                    </div>
                    <label class="col-md-offset-1 col-md-2 padding-label">N&uacute;mero de Cuenta (20 D&iacute;gitos) </label>
                    <div class="col-md-4">
                        <input type="text" class="form-control" maxlength="20" required ng-model="data.numAccount">
                    </div>
                </div>

                <div class="form-group row">
                    <label for="typeId" class="col-md-2 padding-label">Tipo de Identificaci&oacute;n</label>
                    <div class="col-md-3">
                        <select class="form-control" id="typeId" ng-model="data.typeId" required>
                            <option value=""></option>
                            <option value="3">NIT</option>
                            <option value="1">C&eacute;dula</option>
                        </select>
                    </div>

                    <label class="col-md-3 col-md-offset-1 padding-label">N&uacute;mero de Identificaci&oacute;n</label>
                    <div class="col-md-2 col-xs-10">
                        <input type="text" class="form-control" maxlength="15" required ng-model="data.numId">
                    </div>
                    <div class="col-md-1 col-xs-2">
                        <input type="text" class="form-control" maxlength="1" required ng-model="data.verDigId">
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-md-3 col-md-offset-6 padding-label">Porcentaje de Recaudo</label>
                    <div class="col-md-3">
                        <input type="text" class="form-control" required ng-model="data.collectPercent">
                    </div>
                </div>

                <div class="form-group center-block row" style="width: 45%" >
                    <button class="btn btn-primary col-md-5 col-xs-12" type="button" ng-click="addCollectAccount()" style="margin-bottom: 5px;">A&ntilde;adir Otra Cuenta</button>
                    <button class="btn btn-primary col-md-offset-2 col-md-5 col-xs-12" type="button" ng-click="removeCollectAccount($index)">Borrar Cuenta</button>
                </div>
            </div>
        </div>
    </div>

    <div class="form-group row">
        <label class="col-md-9 padding-label">
            <p style="text-align: center;">
                Porcentaje % Total del Conv. De Recaudo. La suma del porcentaje
                dirigido a las cuentas debe ser igual a 100% incluyendo la cuenta
                principal.
            </p>
        </label>
        <div class="col-md-3">
            <input type="text" class="form-control" required ng-model="colManyAccounts.percentSum">
        </div>
    </div>

    <div class="center-block row" style="width: 20%" >
        <button class="btn btn-primary col-xs-12" type="submit">Guardar</button>
    </div>
</form>
