<form ng-submit="saveChBankCorrespondent(chBankCorrespondent)" ng-controller="RequestAgreementCtrl">
    <div class="form-group row">
        <label class="col-md-2 padding-label">Tipo de Corresponsal</label>
        <div class="col-md-3" style="padding-top: 5px;">
            <select class="form-control" ng-model="chBankCorrespondent.type" required >
                <option value=""></option>
                <option value="WS">Webservice</option>
                <option value="CB">Credibanco</option>
            </select>
        </div>
    </div>

    <div ng-if="chBankCorrespondent.type == 'WS' || chBankCorrespondent.type == 'CB'">
        <div class="form-group row">
            <span class="label label-primary center-block" style="margin: 1%;font-size: 100%;">
                <span ng-if="chBankCorrespondent.type == 'WS'">Webservice</span>
                <span ng-if="chBankCorrespondent.type == 'CB'">Credibanco</span>
            </span>
        </div>

        <div class="form-group row">
            <label class="col-md-2 padding-label" >
                C&oacute;digo de Convenio
            </label>
            <div class="col-md-2">
                <input type='text' class="form-control" readonly required ng-model="chBankCorrespondent.agreementCode" ng-value="gendata.agreementNumber"/>
            </div>

            <label class="col-md-2 padding-label">
                C&oacute;digo EAN
            </label>
            <div class="col-md-2">
                <input type='text' class="form-control" readonly required ng-model="chBankCorrespondent.eanCode" ng-value="captype.eanCode"/>
            </div>

            <label class="col-md-2 padding-label" >
                Estado Contrato
            </label>
            <div class="col-md-2">
                <select class="form-control" ng-model="chBankCorrespondent.agreementStatus" required>
                    <option value="A" ng-if="gendata.status == 'A'">Activo</option>
                    <option value="I" ng-if="gendata.status == 'I'">Inactivo</option>
                </select>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-md-2 padding-label" >
                Nombre Largo
            </label>
            <div class="col-md-3">
                <input type='text' class="form-control" readonly required ng-model="chBankCorrespondent.longName" ng-value="gendata.agreementName"/>
            </div>

            <label class="col-md-offset-1 col-md-2 padding-label">
                Nombre Corto
            </label>
            <div class="col-md-3">
                <input type='text' class="form-control" readonly required ng-model="chBankCorrespondent.shortName" ng-value="'Recaudo Convenio factura'"/>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-md-2 padding-label" >
                Fecha Solicitud
            </label>
            <div class="col-md-2">
                <input type='text' class="form-control" readonly required ng-model="chBankCorrespondent.requestDate" />
            </div>

            <label class="col-md-2 padding-label">
                Fecha Alta
            </label>
            <div class="col-md-2">
                <input type='text' class="form-control" readonly required ng-model="chBankCorrespondent.registrationDate" />
            </div>

            <label class="col-md-2 padding-label" >
                Fecha Vigencia
            </label>
            <div class="col-md-2">
                <input type='text' class="form-control" readonly required ng-model="chBankCorrespondent.validityDate" ng-value="gendata.expiredDate"/>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-md-2 padding-label" >
                Multifactura
            </label>
            <div class="col-md-2" style="padding-top: 5px;">
                <div style="display: none;">{{chBankCorrespondent.multiBill=gendata.multilot}}</div>
                <label class="radio-inline">
                    <input type="radio" ng-model="chBankCorrespondent.multiBill" ng-value=true disabled="{{!chBankCorrespondent.multiBill}}">
                    Si
                </label>
                <label class="radio-inline">
                    <input type="radio" ng-model="chBankCorrespondent.multiBill" ng-value=false disabled="{{chBankCorrespondent.multiBill}}">
                    No
                </label>
            </div>

            <label class="col-md-2 padding-label">
                Tipo de convenio
            </label>
            <div class="col-md-2">
                <select class="form-control" ng-model="chBankCorrespondent.agreementType" required>
                    <option value="01" ng-if="gendata.agreementType == '01'">Recaudo Nacional</option>
                    <option value="02" ng-if="gendata.agreementType == '02'">Servicios P&uacute;blicos</option>
                    <option value="03" ng-if="gendata.agreementType == '03'">Impuestos Distritales</option>
                    <option value="05" ng-if="gendata.agreementType == '05'">Impuestos Nuevos</option>
                </select>
            </div>

            <label class="col-md-2 padding-label" >
                Valida Base de Datos
            </label>
            <div class="col-md-2" style="padding-top: 5px;">
                <div style="display: none;">{{}}</div>
                <label class="radio-inline">
                    <input type="radio" ng-model="chBankCorrespondent.hasValidationDB" ng-value=true disabled>
                    Si
                </label>
                <label class="radio-inline">
                    <input type="radio" ng-model="chBankCorrespondent.hasValidationDB" ng-value=false disabled>
                    No
                </label>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-md-2 padding-label" >
                Concepto que se recauda
            </label>
            <div class="col-md-4">
                <input type='text' class="form-control" readonly required ng-model="chBankCorrespondent.collectConcept" ng-value="gendata.description"/>
            </div>

            <label class="col-md-2 padding-label" >
                Pago Parcial
            </label>
            <div class="col-md-2" style="padding-top: 5px;">
                <div style="display: none;">{{}}</div>
                <label class="radio-inline">
                    <input type="radio" ng-model="chBankCorrespondent.hasPartialPayment" ng-value=true disabled>
                    Si
                </label>
                <label class="radio-inline">
                    <input type="radio" ng-model="chBankCorrespondent.hasPartialPayment" ng-value=false disabled>
                    No
                </label>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-md-2 padding-label" >
                C&oacute;digo de Recaudo
            </label>
            <div class="col-md-2">
                <input type='text' class="form-control" readonly required ng-model="chBankCorrespondent.collectCode" ng-value="gendata.agreementNumber"/>
            </div>

            <label class="col-md-2 padding-label">
                Forma de Pago
            </label>
            <div class="col-md-2">
                <select class="form-control" ng-model="chBankCorrespondent.paymentMethod" required>
                    <option value="EF" >Efectivo</option>
                </select>
            </div>

            <label class="col-md-2 padding-label" >
                C&oacute;digo de Referencia
            </label>
            <div class="col-md-2" >
                <input type='text' class="form-control" readonly required ng-model="chBankCorrespondent.referenceCode"/>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-md-2 padding-label" >
                C&oacute;digo ID Corresponsal
            </label>
            <div class="col-md-3">
                <input type='text' class="form-control" maxlength="2" required ng-model="chBankCorrespondent.correspondent.id" />
            </div>

            <label class="col-md-offset-1 col-md-2 padding-label">
                Limite por TX Convenio
            </label>
            <div class="col-md-4">
                <input type='text' class="form-control" maxlength="18" required ng-model="chBankCorrespondent.correspondent.limit" />
            </div>
        </div>

        <div class="form-group row">
            <label class="col-md-2 padding-label" >
                C&oacute;digo Webservice
            </label>
            <div class="col-md-3">
                <input type='text' class="form-control" readonly required ng-model="chBankCorrespondent.wsCode"/>
            </div>
        </div>

    </div>


    <div class="form-group row">
        <span class="label label-primary center-block" style="margin: 1%;font-size: 100%;">Anexos o Im&aacute;genes</span>
    </div>

    <div class="form-group row" >
        <label class="col-md-2 padding-label">Anexo</label>
        <div class="col-md-3" style="padding-top: 5px;">
            <select class="form-control" ng-model="chBankCorrespondent.attachmentType" required >
                <option value=""></option>
                <option value="FO">Factura original</option>
                <option value="EBD">Ejemplo Base de Datos</option>
                <option value="CCB">Cronograma Cargue Base de Datos</option>
                <option value="OCS">Imagen de Pantalla</option>
            </select>
        </div>
        <button class="btn btn-primary col-md-offset-2 col-md-3" type="button" ng-click="addChBankCorrespondentAttachmentFile()" style="margin-top: 5px;margin-bottom: 1%;margin-left: 3%;">Cargue Anexo</button>
    </div>

    <div class="form-group row">
        <label class="col-xs-2 padding-label">Adjunto</label>
        <div class="col-xs-10">
            <input type="file" class="form-control" name="fileCorrespondent" id="fileCorrespondent" required >
        </div>
    </div>


    </div>
        <div class="panel panel-default col-xs-offset-1 col-xs-10" style="padding: 0px; margin-bottom: 1%;" ng-if="chBankCorrespondent.attachments.length > 0">
            <div class="panel-heading" >Adjuntos:</div>
            <ul class="list-group ">
                <li class="list-group-item" ng-repeat="data in chBankCorrespondent.attachments">{{data.file_res.name}} <a ng-click="removeChBankCorrespondentAttachmentFile($index)">eliminar </a></li>
            </ul>
        </div>



    <div class="center-block row" style="width: 20%" >
        <button class="btn btn-primary col-xs-12" type="submit">Guardar</button>
    </div>
</form>
