<form ng-submit="saveSpecialParam(specialparam)" ng-controller="RequestAgreementCtrl">
    <div class="form-group row">
        <label class="col-md-2 padding-label">
            Valor Adicional
        </label>
        <div class="col-md-3">
            <select class="form-control" ng-model="specialparam.additionalValue" required>
                <option value=""></option>
                <option value="F">Fijo</option>
                <option value="V">Variable</option>
                <option value="S">Sin Valor A.</option>
            </select>
        </div>
    </div>

    <div class="form-group row">
        <label class="col-md-2 padding-label" >Autoadhesivo</label>
        <div class="col-md-3">
            <select class="form-control" ng-model="specialparam.autoadhesive" required>
                <option value=""></option>
                <option value="F">F&iacute;sico</option>
                <option value="A">Autom&aacute;tico</option>
                <option value="N">No Aplica</option>
            </select>
        </div>

        <label class="col-md-3 col-md-offset-1 padding-label">
            Tamaño Formato Autoadhesivo
        </label>
        <div class="col-md-3">
            <select class="form-control" ng-model="specialparam.formatAutoadhesive" required>
                <option value=""></option>
                <option value="C">Carta</option>
                <option value="M">Media Carta</option>
                <option value="O">Oficio</option>
                <option value="N">No Aplica</option>
            </select>
        </div>
    </div>

    <div class="form-group row">
        <label class="col-md-2 padding-label" >Reciprocidad</label>
        <div class="col-md-2">
            <label class="radio-inline">
                <input type="radio" ng-model="specialparam.reciprocity" ng-value=true>
                Si
            </label>
            <label class="radio-inline">
                <input type="radio" ng-model="specialparam.reciprocity" ng-value=false>
                No
            </label>
        </div>

        <label class="col-md-2 padding-label">
            Tipo de Derrama
        </label>
        <div class="col-md-2">
            <select class="form-control" ng-model="specialparam.contributionType" required>
                <option value=""></option>
                <option value="1">Cuenta Contable</option>
                <option value="2">Cuenta Personal</option>
            </select>
        </div>

        <label class="col-md-2 padding-label" >Dispersi&oacute;n</label>
        <div class="col-md-2">
            <label class="radio-inline">
                <input type="radio" ng-model="specialparam.dispersion" ng-value=true>
                Si
            </label>
            <label class="radio-inline">
                <input type="radio" ng-model="specialparam.dispersion" ng-value=false>
                No
            </label>
        </div>
    </div>

    <div class="form-group row">
        <span class="label label-primary center-block" style="margin: 1%;font-size: 100%;">Tipo de D&iacute;as</span>
    </div>

    <div class="form-group row">
        <label class="col-md-2 padding-label" >Dpto</label>
        <div class="col-md-2">
            <select class="form-control" ng-model="specialparam.dayTypeDpt" required>
                <option value=""></option>
                <option value="C">Calendario</option>
                <option value="H">H&aacute;bil</option>
                <option value="F">Fijo</option>
            </select>
        </div>

        <label class="col-md-2 padding-label">
            Mcipio
        </label>
        <div class="col-md-2">
            <select class="form-control" ng-model="specialparam.dayTypeMncp" required>
                <option value=""></option>
                <option value="C">Calendario</option>
                <option value="H">H&aacute;bil</option>
                <option value="F">Fijo</option>
            </select>
        </div>

        <label class="col-md-2 padding-label">
            Conv. Asociado
        </label>
        <div class="col-md-2">
            <select class="form-control" ng-model="specialparam.dayTypeAssociatedAgreement" required>
                <option value=""></option>
                <option value="C">Calendario</option>
                <option value="H">H&aacute;bil</option>
                <option value="F">Fijo</option>
            </select>
        </div>
    </div>

    <div class="form-group row">
        <span class="label label-primary center-block" style="margin: 1%;font-size: 100%;">Porcentajes de Dispersi&oacute;n</span>
    </div>

    <div class="form-group row">
        <label class="col-md-2 padding-label" >Dpto</label>
        <div class="col-md-2">
            <input type='text' class="form-control" required ng-model="specialparam.percentDpt"/>
        </div>

        <label class="col-md-2 padding-label">
            Mcipio
        </label>
        <div class="col-md-2">
            <input type='text' class="form-control" required ng-model="specialparam.percentMncp"/>
        </div>

        <label class="col-md-2 padding-label">
            Conv. Asociado
        </label>
        <div class="col-md-2">
            <input type='text' class="form-control" required ng-model="specialparam.percentAssociatedAgreement"/>
        </div>
    </div>

    <div class="form-group row">
        <span class="label label-primary center-block" style="margin: 1%;font-size: 100%;">Cuentas de Espera</span>
    </div>

    <div class="form-group row">
        <label class="col-md-2 padding-label" >Dpto</label>
        <div class="col-md-2">
            <label class="radio-inline">
                <input type="radio" ng-model="specialparam.hasStandbyAccountDpt" ng-value=true>
                Si
            </label>
            <label class="radio-inline">
                <input type="radio" ng-model="specialparam.hasStandbyAccountDpt" ng-value=false>
                No
            </label>
        </div>

        <label class="col-md-2 padding-label">
            Mcipio
        </label>
        <div class="col-md-2">
            <label class="radio-inline">
                <input type="radio" ng-model="specialparam.hasStandbyAccountMncp" ng-value=true>
                Si
            </label>
            <label class="radio-inline">
                <input type="radio" ng-model="specialparam.hasStandbyAccountMncp" ng-value=false>
                No
            </label>
        </div>
    </div>

    <div class="center-block row" style="width: 20%" >
        <button class="btn btn-primary col-xs-12" type="submit">Guardar</button>
    </div>
</form>
