<form ng-submit="saveChPagaTiempo(chPagaTiempo)" ng-controller="RequestAgreementCtrl">

    <div class="form-group row">
        <label class="col-md-2 padding-label" >Tipo de Servicio</label>
        <div class="col-md-2">
            <select class="form-control" ng-model="chPagaTiempo.serviceType">
                <option value=""></option>
                <option value="RC" ng-if="type == 'R'"></option>
            </select>
        </div>

        <label class="col-md-2 padding-label">
            Servicio
        </label>
        <div class="col-md-2">
            <input type='text' class="form-control" maxlength="2" required ng-model="chPagaTiempo.service"/>
        </div>

        <label class="col-md-2 padding-label" >Subservicio</label>
        <div class="col-md-2">
            <input type='text' class="form-control" maxlength="8" required ng-model="chPagaTiempo.subservice"/>
        </div>
    </div>


    <div class="form-group row">
        <label class="col-md-2 padding-label" >Estado del Servicio</label>
        <div class="col-md-2">
            <select class="form-control" ng-model="chPagaTiempo.serviceStatus" required>
                <option value=""></option>
                <option value="A">Activo</option>
                <option value="I">Inactivo</option>
            </select>
        </div>

        <label class="col-md-2 padding-label">
            Fecha Estado
        </label>
        <div class="col-md-2">
            <div class='input-group date' id='statusDate'>
                <input type='text' class="form-control" ng-model="chPagaTiempo.statusDate" required datetime-picker date-format="ddMMyyyy" date-only />
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
        </div>

        <label class="col-md-2 padding-label" >Tipo Facturaci&oacute;n</label>
        <div class="col-md-2">
            <select class="form-control" ng-model="chPagaTiempo.facturationType" required>
                <option value=""></option>
                <option value="PR">Propia</option>
                <option value="AJ">Ajena</option>
            </select>
        </div>
    </div>


    <div class="form-group row">
        <label class="col-md-2 padding-label" >Periodicidad Recibo</label>
        <div class="col-md-2">
            <select class="form-control" ng-model="chPagaTiempo.frequencyReceipt" required>
                <option value=""></option>
                <option value="D">Diaria</option>
                <option value="M">Mensual</option>
                <option value="A">Anual</option>
            </select>
        </div>

        <label class="col-md-2 padding-label">
            Ubic. Ref Fija
        </label>
        <div class="col-md-2">
            <select class="form-control" ng-model="chPagaTiempo.posFixedReference" required>
                <option value=""></option>
                <option value="PRI">Primaria</option>
                <option value="SEC">Secundaria</option>
            </select>
        </div>

        <label class="col-md-2 padding-label" >
            Validaci&oacute;n BD
        </label>
        <div class="col-md-2">
            <label class="radio-inline">
                <input type="radio" ng-model="specialparam.hasValidationDB" ng-value=true>
                Si
            </label>
            <label class="radio-inline">
                <input type="radio" ng-model="specialparam.hasValidationDB" ng-value=false>
                No
            </label>
        </div>
    </div>


    <div class="form-group row">
        <label class="col-md-2 padding-label" >
            No. D&iacute;as Factura BD
        </label>
        <div class="col-md-2">
            <input type='text' class="form-control" maxlength="3" required ng-model="chPagaTiempo.numDaysBillDB"/>
        </div>

        <label class="col-md-2 padding-label" >
            Ind. Tipo Reintento
        </label>
        <div class="col-md-2">
            <label class="radio-inline">
                <input type="radio" ng-model="specialparam.indRetryType" ng-value="'D'">
                Diaria
            </label>
            <label class="radio-inline">
                <input type="radio" ng-model="specialparam.indRetryType" ng-value="'N'">
                No tiene
            </label>
        </div>

        <label class="col-md-2 padding-label">
            Max Reintentos
        </label>
        <div class="col-md-2">
            <select class="form-control" ng-model="chPagaTiempo.maxRetries" required>
                <option value=""></option>
                <option value="5">5</option>
            </select>
        </div>
    </div>

    <div class="form-group row">
        <label class="col-md-3 padding-label" >
            Nombre de Referencia Pago
        </label>
        <div class="col-md-3">
            <input type='text' class="form-control" maxlength="30" required ng-model="chPagaTiempo.namePaymentReference"/>
        </div>

        <div  class="col-md-6">
            <div ng-repeat="data in chPagaTiempo.validateDates">
                <div class="row">
                    <label class="col-md-4 padding-label">Valida Fecha {{$index+1}}</label>
                    <div class="col-md-3" style="padding-top: 5px; margin-bottom: 1%;">
                        <label class="radio-inline">
                            <input type="radio" ng-model="data.valdate" ng-value=true>
                            Si
                        </label>
                        <label class="radio-inline">
                            <input type="radio" ng-model="data.valdate" ng-value=false>
                            No
                        </label>
                    </div>
                    <div style="margin-left: 1%">
                        <button class="btn btn-primary col-md-2" type="button" ng-click="addPagatiempoValidateDate()" style="margin-bottom: 5px;">A&ntilde;adir</button>
                        <button class="btn btn-primary col-md-2" type="button" style="margin-left: 5%;" ng-click="removePagatiempoValidateDate($index)">Borrar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="form-group row">
        <label class="col-md-3 padding-label" >
            Ind. Cobro Vencido
        </label>
        <div class="col-md-3" style="padding-top: 5px; margin-bottom: 1%;">
            <label class="radio-inline">
                <input type="radio" ng-model="chPagaTiempo.indRetryType" ng-value=true>
                Si
            </label>
            <label class="radio-inline">
                <input type="radio" ng-model="chPagaTiempo.indRetryType" ng-value=false>
                No
            </label>
        </div>

        <div  class="col-md-6">
            <div ng-repeat="data in chPagaTiempo.validateAmounts">
                <div class="row">
                    <label class="col-md-4 padding-label">Valida Importe {{$index+1}}</label>
                    <div class="col-md-3" style="padding-top: 5px; margin-bottom: 1%;">
                        <label class="radio-inline">
                            <input type="radio" ng-model="data.valamount" ng-value=true>
                            Si
                        </label>
                        <label class="radio-inline">
                            <input type="radio" ng-model="data.valamount" ng-value=false>
                            No
                        </label>
                    </div>
                    <div style="margin-left: 1%">
                        <button class="btn btn-primary col-md-2" type="button" ng-click="addPagatiempoValidateAmount()" style="margin-bottom: 5px;">A&ntilde;adir</button>
                        <button class="btn btn-primary col-md-2" type="button" style="margin-left: 5%;" ng-click="removePagatiempoValidateAmount($index)">Borrar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="form-group row">
        <label class="col-md-2 padding-label" >
            Indicador Cobro Parcial
        </label>
        <div class="col-md-2">
            <label class="radio-inline">
                <input type="radio" ng-model="chPagaTiempo.indPartialPayment" ng-value=true>
                Si
            </label>
            <label class="radio-inline">
                <input type="radio" ng-model="chPagaTiempo.indPartialPayment" ng-value=false>
                No
            </label>
        </div>

        <label class="col-md-2 padding-label">
            No. Max Asuntos Cargo
        </label>
        <div class="col-md-2">
            <select class="form-control" ng-model="chPagaTiempo.maxChargeProducts" required>
                <option value=""></option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
            </select>
        </div>

        <label class="col-md-2 padding-label" >
            Ind. Cargo Cuentas
        </label>
        <div class="col-md-2">
            <label class="radio-inline">
                <input type="radio" ng-model="chPagaTiempo.hasChargeAccount" ng-value=true>
                Si
            </label>
            <label class="radio-inline">
                <input type="radio" ng-model="chPagaTiempo.hasChargeAccount" ng-value=false>
                No
            </label>
        </div>
    </div>


    <div class="form-group row">
        <label class="col-md-2 padding-label" >
            Indicador Cargo T Cr&eacute;dito
        </label>
        <div class="col-md-2">
            <label class="radio-inline">
                <input type="radio" ng-model="chPagaTiempo.indUseCreditCard" ng-value=true>
                Si
            </label>
            <label class="radio-inline">
                <input type="radio" ng-model="chPagaTiempo.indUseCreditCard" ng-value=false>
                No
            </label>
        </div>

        <label class="col-md-2 padding-label">
            No. Cuotas Max Difer.
        </label>
        <div class="col-md-2">
            <select class="form-control" ng-model="chPagaTiempo.maxChargeProducts" required>
                <option value="" ></option>
                <option ng-repeat="n in numFees" value="{{n}}" >{{n}}</option>
            </select>
        </div>
    </div>

    <div class="center-block row" style="width: 20%" >
        <button class="btn btn-primary col-xs-12" type="submit">Guardar</button>
    </div>
</form>
