<ul class="nav nav-pills">
    <li role="presentation" class="active col-md-3 col-md-offset-1 col-xs-12" style="margin-bottom: 1%;"><a href="#!/agreement/reqselect" style="text-align: center;">Alta Solicitud Convenio</a></li>
    <li role="presentation" class="active col-md-4 col-xs-12" style="margin-bottom: 1%;"><a href="#!/agreement/seamodify" style="text-align: center;">Modificaci&oacute;n Solicitud Convenio</a></li>
    <li role="presentation" class="active col-md-3 col-xs-12" style="margin-bottom: 1%;"><a href="#!/agreement/seaconsult" style="text-align: center;">Consulta Solicitud Convenio</a></li>
</ul>