<ul class="nav nav-pills">
    <li role="presentation" class="active col-md-3 col-md-offset-1 col-xs-12" style="margin-bottom: 1%;"><a href="#!/authorizer/pending" style="text-align: center;">Solicitudes Pendientes</a></li>
    <li role="presentation" class="active col-md-3 col-xs-12" style="margin-bottom: 1%;"><a href="#!/authorizer/rejected" style="text-align: center;">Solicitudes Rechazadas</a></li>
    <li role="presentation" class="active col-md-3 col-xs-12" style="margin-bottom: 1%;"><a href="#!/authorizer/approved" style="text-align: center;">Solicitudes Aprobadas</a></li>
</ul>