<ul class="nav nav-pills">
    <li role="presentation" class="active col-md-3 col-md-offset-2 col-xs-12" style="margin-bottom: 1%;"><a href="#!/user/manager/create" style="text-align: center;">Alta de Usuarios</a></li>
    <li role="presentation" class="active col-md-3 col-xs-12" style="margin-bottom: 1%;"><a href="#!/user/manager/modify" style="text-align: center;">Modificaci&oacute;n</a></li>
    <li role="presentation" class="active col-md-3 col-xs-12" style="margin-bottom: 1%;"><a href="#!/user/manager/consult" style="text-align: center;">Consulta</a></li>
</ul>