<div class="sidebar-nav">
    <div class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <span class="visible-xs navbar-brand">Men&uacute; Principal</span>
        </div>
        <div class="navbar-collapse collapse sidebar-navbar-collapse">
            <ul class="nav navbar-nav" id="sidenav01">
                <li>
                    <a data-toggle="collapse" data-target="#toggleDemo" data-parent="#sidenav01" class="collapsed">
                        <p>
                           Administrador de Solicitudes
                        </p>
                        <span class="caret pull-right"></span>
                    </a>
                    <div class="collapse" id="toggleDemo" style="height: 0px;">
                        <ul class="nav nav-list">
                            <li><a href="#!/agreement/reqselect">Alta de Solicitudes</a></li>
                            <li><a href="#!/agreement/seamodify">Modificaci&oacute;n de Solicitud</a></li>
                            <li><a href="#!/agreement/seaconsult">Consulta de Solicitud</a></li>
                        </ul>
                    </div>
                </li>
                <li>
                    <a data-toggle="collapse" data-target="#toggleDemo2" data-parent="#sidenav01" class="collapsed">
                        <p>
                            Autorizador de Convenios
                        </p>
                        <span class="caret pull-right"></span>
                    </a>
                    <div class="collapse" id="toggleDemo2" style="height: 0px;">
                        <ul class="nav nav-list">
                            <li><a href="#!/authorizer/pending">Solicitudes Pendientes</a></li>
                            <li><a href="#!/authorizer/rejected">Solicitudes Rechazadas</a></li>
                            <li><a href="#!/authorizer/approved">Solicitudes Aprobadas</a></li>
                        </ul>
                    </div>
                </li>
                <li>
                    <a data-toggle="collapse" data-target="#toggleDemo3" data-parent="#sidenav01" class="collapsed">
                        <p>
                            Administrador de Usuarios
                        </p>
                        <span class="caret pull-right"></span>
                    </a>
                    <div class="collapse" id="toggleDemo3" style="height: 0px;">
                        <ul class="nav nav-list">
                            <li><a href="#!/user/manager/create">Alta de Usuarios</a></li>
                            <li><a href="#!/user/manager/modify">Modificaci&oacute;n de Usuarios</a></li>
                            <li><a href="#!/user/manager/consult">Consulta de Usuarios</a></li>
                        </ul>
                    </div>
                </li>

                <li>
                    <a data-toggle="collapse" data-target="#toggleDemo4" data-parent="#sidenav01" class="collapsed">
                        <p>
                            Administrador de Perfiles
                        </p>
                        <span class="caret pull-right"></span>
                    </a>
                    <div class="collapse" id="toggleDemo4" style="height: 0px;">
                        <ul class="nav nav-list">
                            <li><a href="#!/profile/manager">Alta de Perfiles</a></li>
                        </ul>
                    </div>
                </li>

                <li>
                    <a data-toggle="collapse" data-target="#toggleDemo5" data-parent="#sidenav01" class="collapsed">
                        <p>
                            Administrador de Informes
                        </p>
                        <span class="caret pull-right"></span>
                    </a>
                    <div class="collapse" id="toggleDemo5" style="height: 0px;">
                        <ul class="nav nav-list">
                            <li><a href="#!/report/selecttype">Generar Informes</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</div>